<html ng-app="app">

    <head>
        <title>Hello world</title>
        <script src="../vendor/angular/angular.js"></script>
    </head>

    <body>
        <div ng-controller="WelcomeCtrl">

            <select ng-model="selectedItem"
                ng-options="f.name for f in fruits track by f.name">
            </select>

            Selected: {{selectedItem}}

            <br>
            <input type="checkbox" ng-model="chkMe"> Click Me.
            Checked: {{chkMe}}
            <br>
            <input type="radio" name="rd" ng-value="1" ng-model="rd">Man
            <input type="radio" name="rd" ng-value="2" ng-model="rd">Woman
            Checked: {{ rd }}
            <br>
            <input type="range" min="10" max="100" ng-model="scale">
            Range: {{scale}}

            <br>
            <button ng-click="setData()">Set data</button>
        </div>

        <script>

            angular.module('app', [])
                .controller('WelcomeCtrl', function ($scope) {
                    $scope.fruits = [
                        {id: 1, name: 'Apple'},
                        {id: 2, name: 'Banana'},
                        {id: 3, name: 'Orange'}
                    ];

                    $scope.setData = function () {
                        $scope.scale = 88;
                        $scope.rd = 2;
                        $scope.chkMe = true;
                        $scope.selectedItem = {id: 2, name: 'Banana'};
                    }
                })
        </script>
    </body>

</html>
